@charset "UTF-8";
a {
  /* background-color: whitesmoke; */
  padding: 0 5px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}

.links {
  display: flex;
}

.nav__link:hover {
  transform: scale(1.1);
  color: rgb(169, 64, 64);
  transition: 0.5s;
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.nav__link {
  --clip: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__link::after {
  content: "";
  display: block;
  background-color: rgb(169, 64, 64);
  height: 3px;
  width: 90%;
  margin-top: 3px;
  clip-path: var(--clip);
  transition: clip-path 0.5s;
}

@media (max-width: 768px) {
  .navbar .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .navbar-nav {
    float: none;
    text-align: center;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: flex;
  justify-content: center;
}

:root {
  /* FUENTES */
  --poppins: "Open Sans", sans-serif;
  --open-sans: "Poppins", sans-serif;
  --lumanosimo: "Lumanosimo", cursive;
  --coming: "Coming Soon", cursive;
  /* COLORES */
  --color1: #0E273B;
  --paddin-container: 88px 0;
}

ul {
  list-style-type: "🐟";
}
ul li::marker {
  font-size: 20px;
}

html {
  scroll-behavior: smooth; /* Desplazamiento suave en toda la página */
}

body {
  font-family: var(--open-sans);
}

.section {
  height: 100vh;
}

.section__containerInicio, .section__containerMenu, .section__containerSocial, .section__containerUbicacion {
  display: flex;
  height: 100vh;
}

.sectionInicio {
  /* padding-top: 86px; */
  transition: transform 1s ease;
}
.sectionInicio .section__containerInicio, .sectionInicio .section__containerMenu, .sectionInicio .section__containerSocial, .sectionInicio .section__containerUbicacion {
  justify-content: center;
  align-items: center;
  /* padding-top: 86px; */
  background: url(../images/fondo.png);
  background-color: #72dffe;
  background-repeat: no-repeat;
  background-size: cover;
  animation: blur-in 0.8s linear both;
}
.sectionInicio .section__containerInicio .hero__logo1, .sectionInicio .section__containerMenu .hero__logo1, .sectionInicio .section__containerSocial .hero__logo1, .sectionInicio .section__containerUbicacion .hero__logo1 {
  width: 50%;
}
.sectionInicio .section__containerInicio .hero__logo1 .section__img1, .sectionInicio .section__containerMenu .hero__logo1 .section__img1, .sectionInicio .section__containerSocial .hero__logo1 .section__img1, .sectionInicio .section__containerUbicacion .hero__logo1 .section__img1 {
  position: relative;
  /* top: -100px; */
  width: 100%;
  margin: 0 auto;
}
.sectionInicio .section__containerInicio .section__img, .sectionInicio .section__containerMenu .section__img, .sectionInicio .section__containerSocial .section__img, .sectionInicio .section__containerUbicacion .section__img {
  border-radius: 30%;
  position: relative;
  top: -100px;
  left: 100px;
  transform: rotate(-60deg);
  opacity: 0.9;
}
@keyframes blur-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

/* SECCION DE UBICACION */
.sectionUbicacion {
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.section__containerUbicacion {
  /* background-color: #40DE87; */
  background-color: #E3D3C1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
  background-image: url(../images/luga3.jpg);
  background-repeat: no-repeat;
  /* background-position: -500px -200px ; */
  background-size: cover;
}

.section__containerSocial {
  /* background-color: #2d4839; */
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.imgs {
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4196078431);
}

.ubication__imgs {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
}
.ubication__imgs .ubication__img {
  width: 30%;
}

a {
  text-decoration: none;
  color: white;
}

/* SECCION MENU*/
.section__containerMenu {
  background-color: #f9eddf;
  display: block;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
  background-image: url(../images/trace.svg);
}

/* Social Network */
.social__img {
  width: 35%;
}

.ubication__title {
  color: white;
  font-family: var(--lumanosimo);
  text-shadow: 10px 1PX 10px black;
  font-size: 3rem;
}

.inicio_boton {
  position: relative;
  top: -100px;
  right: -30%;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.5rem;
  animation: scale-down-center 1s alternate-reverse infinite;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tr:hover {
  background-color: #f5f5f5;
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

/*# sourceMappingURL=estilos.css.map */
