@use "_navegacion";
$color1: #0E273B;
$paddin-container: 88px 0;

* {
  margin: 0;
  box-sizing: border-box;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
  display: flex;
  justify-content: center;
}
:root {
  /* FUENTES */
  --poppins: 'Open Sans', sans-serif;
  --open-sans: 'Poppins', sans-serif;
  --lumanosimo: 'Lumanosimo', cursive;
  --coming: 'Coming Soon', cursive;

  /* COLORES */
  --color1: #{$color1};
  --paddin-container: #{$paddin-container};
}

ul {
  list-style-type: '🐟';
  li {
    &::marker {
      font-size: 20px;
    }
  }
}
html {
  scroll-behavior: smooth; /* Desplazamiento suave en toda la página */
}

body {
  font-family: var(--open-sans);
}


// [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
//     cursor: pointer;
// }
.carousel-control-prev {
    left: 0;
}
.carousel-control-next, .carousel-control-prev {
  width: 20%;
  justify-content: space-evenly;
  // background-color: #82afb3;

}

.btnprev{
  border: 10px solid #cbcbcb;
  border-radius: 30%;
  padding: 50px;
  background-color: black;
}
.section {
  height: 100vh;
  // padding-top: 86px;
}

.section__containerInicio{
  display: flex;
  height: 100vh;
}
.sectionInicio {
  /* padding-top: 56px; */
  transition: transform 1s ease;
  .section__containerInicio {
    justify-content: center;
    align-items: center;
    padding-top: 56px;
    background: url(../images/fondo.png);
    background-color: #72dffe;
    background-repeat: no-repeat;
    background-size: cover;
    animation: blur-in 0.8s linear both;

    

      // .section__title {
      //   display: flex;
      //   font-family: var(--lumanosimo);
      //   height: 40%;
      //   flex-wrap: wrap;
      //   justify-content: center;
      //   position: relative;
      //   top: -100px;
      //   transform: scale(2);
      // }
      .hero__logo1 {
        width: 50%;
          .section__img1 {
            position: relative;
            /* top: -100px; */
            width: 100%;
            margin: 0 auto;
          }
      
      }

      .section__img {
        border-radius: 30%;
        position: relative;
        top: -100px;
        left: 100px;
        transform: rotate(-60deg);
        opacity: .9;
      }

      
    

    @keyframes blur-in {
      0% {
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        filter: blur(0);
        opacity: 1;
      }
    }
  }
}

/* SECCION DE UBICACION */

.sectionUbicacion {
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
  z-index: 20;
} 


.section__containerUbicacion {
  /* background-color: #40DE87; */
  background-color: #E3D3C1;
  @extend .section__containerInicio;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
  background-image: url(../images/luga3.jpg);
  background-repeat: no-repeat;
  padding-top: 56px;
  /* background-position: -500px -200px ; */
  background-size: cover;
}

.section__containerSocial {
  /* background-color: #2d4839; */
  padding-top: 56px;
  @extend .section__containerInicio;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.imgs {
  width: 100%;
  box-shadow: 2px 2px 4px #0000006b;
}

.ubication__imgs {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */

  .ubication__img {
    width: 30%;
  }
}

a {
  text-decoration: none;
  color: white;
}

/* SECCION MENU*/

.section__containerMenu {
  background-color: #f9eddf;
  padding-top: 56px;
  @extend .section__containerInicio;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
  background-image: url(../images/trace.svg);
}

.section__tabla{
  @extend .section__containerMenu;
  padding: 0;

  transform: scaleX(-1);
  h2{
    transform: scaleX(-1);
  }
}

/* Social Network */
.social__img {
  width: 35%;
}

.ubication__title {
  color: white;
  font-family: var(--lumanosimo);
  text-shadow: 10px 1PX 10px black;
  font-size: 3rem;
}

.inicio_boton {
  position: relative;
  top: -100px;
  right: -30%;
  border: 2px solid white;
  border-radius: 15px;
  background-color: #ffffff00;
  font-size: 1.5rem;
  animation: scale-down-center 1s alternate-reverse infinite;
}

table {
  margin: 0 auto;
  width: 70%;
  border-collapse: collapse;
  transform: scaleX(-1);
  tr{
    text-align: center;
    th{
      text-align: center;
    }
  }
}

th, td {
  padding: 8px;
  background-color: #f2f2f2ab;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tr:hover {
  background-color: #cbcbcb;
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(.9);
  }
}


.section__containerAbout{
    padding-top: 56px;
}